<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://cristian.muscalu.net/" target="_blank">Cristian Muscalu's Blog</a> by <a href="http://twitter.com/muscaiu" target="_blank">@muscaiu</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
